<div class="row">
  <div class="col-3 mb-2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" id="{{ singleWeapon.data.displayName }}" src="{{ singleWeapon.data.displayIcon }}"
        alt="{{ singleWeapon.data.displayName }} Image">
      <div class="card-body">
        <h5 class="card-title"> {{ singleWeapon.data.displayName }} </h5>
        <!-- <a routerLink="/detail/{{ item.id }}" class="btn btn-primary">Ir {{item.name}}</a> -->
      </div>
    </div>
  </div>
</div>
<h1>DETALHESSSSSSSS</h1>
